@charset "UTF-8";
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm, .sub-title {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width, .footer, .header__inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .footer__ul, .footer__nav, .header__nav {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex, .footer__ul, .footer__nav, .header__nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purple {
  color: #904669;
}

.font-sm, .sub-title {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-md {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #535353;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}
.btn.float:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.btn.filled:hover {
  background-color: white;
  color: black;
  box-shadow: none;
}
.btn.letter-spacing:hover {
  background-color: black;
  letter-spacing: 3px;
  color: white;
}
.btn.shadow {
  box-shadow: none;
}
.btn.shadow:hover {
  transform: translate(-2.5px, -2.5px);
  box-shadow: 5px 5px 0 0 black;
}
.btn.solid {
  box-shadow: 2px 2px 0 0 black;
  border-radius: 7px;
}
.btn.solid:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}
.btn.cover-3d {
  position: relative;
  z-index: 1;
  transform-style: preserve-3d;
  perspective: 300px;
}
.btn.cover-3d span {
  display: inline-block;
  transform: translateZ(20px);
}
.btn.cover-3d::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  transition: all 0.3s;
  transform-origin: top center;
  opacity: 0;
}
.btn.cover-3d:hover {
  color: white;
}
.btn.cover-3d:hover::before {
  transform: none;
  opacity: 1;
}

.btn-cubic {
  position: relative;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 300px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
}
.btn-cubic span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  line-height: 48px;
  text-align: center;
  transition: all 0.3s;
  transform-origin: center center -25px;
  color: black;
}
.btn-cubic .hovering {
  background-color: black;
  color: white;
  transform: rotateX(90deg);
}
.btn-cubic .default {
  background-color: white;
  color: black;
  transform: rotateX(0);
}
.btn-cubic:hover .hovering {
  transform: rotateX(0);
}
.btn-cubic:hover .default {
  transform: rotateX(-90deg);
}

div.contact-form-text {
  width: 650px;
  margin: 0 auto;
}

.cp_iptxt {
  position: relative;
  display: block;
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 96%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: none;
  border-bottom: 0.0625rem solid #757575;
  background: transparent;
}

.ef .cp_iptxt, :focus {
  outline: none;
}

fieldset {
  margin: 20px;
  padding-left: 58px;
  border: 0 none;
}
fieldset div {
  display: flex;
  align-items: center;
}

.form-test {
  margin: 0 auto;
  max-width: 600px;
  padding: 200px 0px;
}

.form-contact {
  margin: 0 auto;
  max-width: 800px;
  padding: 200px 0px;
}

.submit-center {
  text-align: center !important;
}

.nice-wrap {
  position: relative;
  height: 100px;
}

.nice-label {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
}
.nice-label.focus {
  top: -5px;
  left: 5px;
  font-size: 14px;
  color: #a0a0a0;
}

.nice-label2 {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
}
.nice-label2.focus {
  top: -5px;
  left: 5px;
  font-size: 14px;
  color: #a0a0a0;
}

.nice-label3 {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
}
.nice-label3.focus {
  top: -5px;
  left: 5px;
  font-size: 14px;
  color: #a0a0a0;
}

.nice-label4 {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
}
.nice-label4.focus {
  top: -5px;
  left: 5px;
  font-size: 14px;
  color: #a0a0a0;
}

.nice-textbox {
  position: relative;
  display: block;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
}
.side .tween-animate-title {
  color: black;
  text-decoration: none !important;
  margin: 0 40px;
  vertical-align: middle;
  letter-spacing: 2px;
}
.side.left {
  left: -50px;
}
.side.left.inview {
  left: 50px;
}
.side.left .side__inner {
  transform-origin: top left;
  transform: rotate(-90deg);
}
.side.right {
  right: -50px;
}
.side.right.inview {
  right: 50px;
}
.side.right .side__inner {
  transform-origin: top right;
  transform: rotate(90deg);
}

.icon {
  position: relative;
}
.icon::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 1em;
  height: 1em;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon.twitter::before {
  background-image: url(../images/twitter.svg);
}
.icon.fb::before {
  background-image: url(../images/facebook.svg);
}

.animate-title,
.tween-animate-title {
  opacity: 0;
}
.animate-title.inview,
.tween-animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char,
.tween-animate-title.inview .char {
  display: inline-block;
}
.animate-title .char,
.tween-animate-title .char {
  opacity: 0;
}

.animate-title.inview .char {
  animation-name: kf-animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.04s;
}
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.08s;
}
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.12s;
}
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.16s;
}
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.2s;
}
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.24s;
}
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.28s;
}
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.32s;
}
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.36s;
}
.animate-title.inview .char:nth-child(10) {
  animation-delay: 0.4s;
}
.animate-title.inview .char:nth-child(11) {
  animation-delay: 0.44s;
}
.animate-title.inview .char:nth-child(12) {
  animation-delay: 0.48s;
}
.animate-title.inview .char:nth-child(13) {
  animation-delay: 0.52s;
}
.animate-title.inview .char:nth-child(14) {
  animation-delay: 0.56s;
}
.animate-title.inview .char:nth-child(15) {
  animation-delay: 0.6s;
}
.animate-title.inview .char:nth-child(16) {
  animation-delay: 0.64s;
}
.animate-title.inview .char:nth-child(17) {
  animation-delay: 0.68s;
}
.animate-title.inview .char:nth-child(18) {
  animation-delay: 0.72s;
}
.animate-title.inview .char:nth-child(19) {
  animation-delay: 0.76s;
}
.animate-title.inview .char:nth-child(20) {
  animation-delay: 0.8s;
}
.animate-title.inview .char:nth-child(21) {
  animation-delay: 0.84s;
}
.animate-title.inview .char:nth-child(22) {
  animation-delay: 0.88s;
}
.animate-title.inview .char:nth-child(23) {
  animation-delay: 0.92s;
}
.animate-title.inview .char:nth-child(24) {
  animation-delay: 0.96s;
}
.animate-title.inview .char:nth-child(25) {
  animation-delay: 1s;
}
.animate-title.inview .char:nth-child(26) {
  animation-delay: 1.04s;
}
.animate-title.inview .char:nth-child(27) {
  animation-delay: 1.08s;
}
.animate-title.inview .char:nth-child(28) {
  animation-delay: 1.12s;
}
.animate-title.inview .char:nth-child(29) {
  animation-delay: 1.16s;
}
.animate-title.inview .char:nth-child(30) {
  animation-delay: 1.2s;
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
ul.cards7 {
  border: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

li.card7 {
  display: inline-block;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  padding: 0;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

li.card7 img {
  width: 100%;
}

li.card7 .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 57%;
  overflow: hidden;
}

li.card7 .card__image-holder img {
  transition: all 0.1s 0s ease-in;
}

li.card7:hover > .card__image-holder img {
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
  ul.cards7 {
    flex-direction: column;
  }
  li.card7 {
    width: 100%;
  }
}
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm, .sub-title {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

@media screen and (min-width: 960px) {
  .mb-lg {
    margin-bottom: 150px !important;
  }
}
.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}
.content-width, .header__inner, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .header__nav, .footer__nav, .footer__ul {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .flex, .header__nav, .footer__nav, .footer__ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.purple {
  color: #904669;
}

.font-sm, .sub-title {
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}
.font-md {
  font-size: 17px;
}

@media screen and (min-width: 960px) {
  .font-md {
    font-size: 19px;
  }
}
.font-lr {
  font-size: 17px;
}

@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}
.font-lg, .main-title {
  font-size: 25px;
}

@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}
.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #535353;
}

body {
  font-family: Helvetica Neue, Helvetica, YuGothic, Yu Gothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, "ＭＳＰゴシック", sans-serif;
}

div#wpadminbar {
  top: 0;
}

#container {
  position: relative;
  z-index: 10;
  background: white;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
}
.header.triggered {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .logo__stay {
  font-family: Helvetica Neue, Helvetica, YuGothic, Yu Gothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, "ＭＳＰゴシック", sans-serif;
  font-size: 30px;
}
.header__nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: none;
}
@media screen and (min-width: 960px) {
  .header__nav {
    display: block;
  }
}
.header__ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.header__li {
  margin: 10px;
}
@media screen and (min-width: 600px) {
  .header__li {
    margin-left: 30px;
    margin-right: 0;
  }
}
.header__li > a {
  color: #535353;
  text-decoration: none;
  font-family: Helvetica Neue, Helvetica, YuGothic, Yu Gothic, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "メイリオ", Meiryo, "ＭＳＰゴシック", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
}
.header .logo {
  font-size: 35px;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  .header .logo {
    justify-content: flex-start;
  }
}
.header .site-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
}

.scroll-up {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: all 1s;
}

.scroll-up.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.footer__nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__li {
  padding: 0;
  margin: 10px;
}
.footer__li > a {
  color: #535353;
  text-decoration: none;
}
.footer .logo {
  font-size: 38px;
  justify-content: center;
}
.footer .site-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
}

.experience-text {
  line-height: 2;
  letter-spacing: 0.3px;
  font-weight: normal;
  font-size: 20px;
}

.works-list__list-item {
  display: flex;
  margin: 100px;
}/*# sourceMappingURL=base.css.map */