
.travel {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    position: relative;
    z-index: 0;
    margin-top: 50px;
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;

    @include mq(md){
      padding: 50px;
    }

    @include mq(xl){
      padding: 50px 150px;
    }
  }

  &__texts {
    @extend .pb-sm;

    @include mq(md) {
      display: flex;
      align-items: flex-end;
      flex-basis: 47%;
    }

    &.inview {
      & .travel__title::before {
        @include animation($name:scaleX, $duration:0.3s, $delay:1.5s);
      }
    }
  }

  &__title {
    position: relative;
    &::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 100px;
      top: 50%;
      left: -120px;
      background-color: $cBlack;

      transform: scaleX(0);
      transform-origin: right;
    }
  }

  &__description {
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }

  &__img {
    @extend .mb-sm;
    height: 300px;
    box-shadow: inset 0 0 30px $cBlack;

    @include mq(md){
      flex-basis: 47%;
    }

    @include mq(lg){
      height: 400px;
    }

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.page-top-title{
  text-align: center; 
  font-size:30px; 
  margin:50px 0px;
  font-weight: 300;
  font-family:$headerFont;
}
