.works-list-item{
  margin: 100px;

  & .works-list-title{
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: $headerFont ;
    color:$cWorksTitle;
    padding: 70px 0px;
  }
}

ul.cards7 {
  border: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  &::after{
    content:"";
    display: block;
    width:30%;
  }
}

.sample_box>img{
  transition:2s all;
}
.sample_box>img:hover{
  transform:scale(1.2,1.2);
  transition:2s all;
}

li.card7 {
  display: inline-block;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  border-radius: 2px;
  background: #fff;
  // box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 22%);
  padding: 0;
  cursor: pointer;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  width: 30%;
}

li.works-opacity {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

li.card7 img {
  width: 100%;
}
li.card7 .card__image-holder {
  background: rgba(0,0,0,0.1);
  height: 0;
  padding-bottom: 57%;
  overflow: hidden;
}
li.card7 .card__image-holder img {
  transition: all 0.3s 0s ease-in;
}
li.card7::hover > .card__image-holder img {
  transform: scale(1.05);
}

@media screen and (max-width: 767px) {
ul.cards7 {
  flex-direction: column;
}
li.card7 {
  width: 100%;
}
}
