$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$cWorksTitle:#929292;
$contentMaxWidth: 1070px;
$navHeight: 100px;
$headerFont:Helvetica Neue,Helvetica,YuGothic,Yu Gothic,"ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳＰゴシック",sans-serif;